<div class="h-full flex flex-col md:grid md:grid-cols-12 overflow-auto">
  <div
    class="w-full min-h-[500px] max-h-96 md:max-h-full md:h-full col-span-12 md:col-span-3 lg:col-span-2 flex flex-wrap p-2 pr-1 overflow-auto"
  >
    <div
      class="w-full h-full bg-white bg-gradient-to-r rounded-sm shadow-md flex flex-col overflow-auto"
    >
      <form
        [formGroup]="unitSelectionForm"
        (ngSubmit)="getUnitSelections()"
        class="w-full px-2 pt-2 pb-0"
      >
        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label> Search Unit</mat-label>
          <input matInput formControlName="deviceTitle" />
          <button
            type="submit"
            mat-icon-button
            matSuffix
            click-stop-propagation
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label>Plant</mat-label>
          <mat-select (selectionChange)="updateRoute($event.value)" formControlName="PlantID">
            <mat-option value="All"> All </mat-option>
            <mat-option *ngFor="let item of (sharedService.plants|async)" [value]="item.PlantID">
              {{ item.PlantName }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label>Device Type</mat-label>
          <mat-select (selectionChange)="updateRoute($event.value)" formControlName="deviceTypeID">
            <mat-option value="All"> All </mat-option>
            <mat-option *ngFor="let item of sharedService.deviceTypes" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <hr class="mt-1" />
      <p-plant-list-selection
        class="overflow-auto"
        [data]="units"
        (selectedObjectChange)="onSelectUnit($event)"
        [labelProp]="'DeviceTitle'"
        [valueProp]="'DeviceId'"
      ></p-plant-list-selection>
    </div>
  </div>
  <div
    class="w-full md:h-full col-span-12 md:col-span-9 lg:col-span-10 flex flex-wrap p-2"
  >
    <div
      class="w-full h-full bg-white bg-gradient-to-r rounded-sm shadow-md flex flex-col p-2 pt-1"
    >
      <p-plant-inv-data-analysis
        [deviceTypeID]="selectedDeviceTypeID"
        [deviceID]="selectedDeviceID"
      ></p-plant-inv-data-analysis>
    </div>
  </div>
</div>
