<div class="sticky top-0 w-full p-1">
  <div class="flex w-full justify-between">
    <form [formGroup]="filterForm" class="flex items-center grow">
      <mat-form-field class="w-full sm:w-[205px] px-1" appearance="outline">
        <mat-label>Date</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choose a date"
          formControlName="DateTime"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker> </ngx-mat-datetime-picker>
      </mat-form-field>
      <section class="px-1">
        <mat-checkbox class="" formControlName="isNormalized"
          >Display Normalized Data</mat-checkbox
        >
      </section>
    </form>

    <div class="flex items-center grow justify-end">
      <button mat-icon-button><mat-icon>fullscreen</mat-icon></button>
    </div>
  </div>
  <hr />
</div>
<div class="flex flex-col w-full h-full">
  <div class="basis-1/2 w-full flex">
    <div class="basis-1/2">
      <p-plant-unit-yield-chart></p-plant-unit-yield-chart>
    </div>
    <div class="basis-1/2">
      <p-plant-unit-power-chart></p-plant-unit-power-chart>
    </div>
  </div>

  <div class="basis-1/2 w-full">
    <p-plant-inv-unit-table></p-plant-inv-unit-table>
  </div>
</div>
