.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    border: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .mat-form-field-label {
    top: 33px !important;
    margin-top: 0 !important ;
    font-size: 14px !important;
  }

  .mat-select-value,
  input.mat-input-element {
    font-size: 14px;
    position: relative;
    top: 4px;
  }

  .mat-select-arrow-wrapper {
    top: 5px;
    position: relative;
  }

  .icon {
    top: 19px !important;
    font-size: 14px !important;
    padding: 1px !important;
  }

  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.34375em) scale(0.75) !important;
  }
}

.mat-form-field-appearance-legacy {
  .mat-form-field-wrapper {
    padding-bottom: 5px;
  }
  /*the upper class and the bottom class should have same value*/
  .mat-form-field-underline {
    bottom: 5px;
  }

  .mat-form-field-label {
    top: 42%;
  }

  .mat-form-field-infix {
    padding: 0;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;

  .mat-checkbox-label {
    font-size: 14px;
  }
}

.mat-form-field-subscript-wrapper {
  top: 46px !important;
  font-size: 70%;
  text-align: right;
}

.mat-select-value,
input.mat-input-element {
  font-size: 14px;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-0.83em) scale(0.75) perspective(100px)
    translateZ(0.001px);
}
