<div class="flex flex-col h-full">
  <div class="flex-1 grid grid-cols-3">
    <div class="col-span-2 w-full h-full flex flex-wrap">
      <div class="w-full h-[40%] p-1">
        <div [ngClass]="itemsClasses">
          <p-plant-main-chart></p-plant-main-chart>
        </div>
      </div>
      <div class="w-full h-[20%] flex flex-wrap">
        <div class="w-[25%] h-full p-1">
          <div [ngClass]="itemsClasses">hi col</div>
        </div>
        <div class="w-[25%] h-full p-1">
          <div [ngClass]="itemsClasses">hi col</div>
        </div>
        <div class="w-[25%] h-full p-1">
          <div [ngClass]="itemsClasses">hi col</div>
        </div>
        <div class="w-[25%] h-full p-1">
          <div [ngClass]="itemsClasses">hi col</div>
        </div>
      </div>
      <div class="w-full h-[40%] p-1">
        <div [ngClass]="itemsClasses">hi col</div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="w-full h-full p-1">
        <div [ngClass]="itemsClasses">
          ml;m;
          <!-- <p-plant-main-chart></p-plant-main-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>
