<div class="flex flex-col h-full">
  <div class="flex-1 grid grid-cols-3">
    <div class="col-span-2 w-full h-full flex flex-wrap">
      <div class="w-full h-64 p-2">
        <div [ngClass]="itemsClasses">
          <p-plant-main-chart></p-plant-main-chart>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="w-full h-full p-2">
        <div [ngClass]="itemsClasses">
          ml;m;
          <!-- <p-plant-main-chart></p-plant-main-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>
