<div class="flex flex-col md:grid md:grid-cols-12 md:h-full">
  <div class="col-span-10 w-full h-full flex flex-wrap">
    <div class="w-full h-96 md:h-[40%] p-1">
      <div
        class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col p-2 shadow-md"
      >
        <div class="flex">
          <h5>Yield Trend</h5>
          <div class="buttons ml-auto">
            <button
              *ngFor="let item of yieldTrendModes"
              [ngClass]="{ active: item.id == activeYieldTrendModeID }"
              class="mx-1"
              mat-stroked-button
              color="primary"
              (click)="changeProducePowerMode(item)"
            >
              {{ item.name }}
            </button>
          </div>
        </div>
        <p-plant-yield-trend-chart
          [data]="yieldTrendChartData"
          (chartInstanceChange)="yieldChartInstance = $event"
        ></p-plant-yield-trend-chart>
      </div>
    </div>

    <div class="w-full md:h-[20%] flex flex-wrap">
      <div class="w-full sm:w-[50%] md:w-[25%] h-36 md:h-full p-1">
        <div
          class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col relative p-2 shadow-md"
        >
          <p>Number of Active Plants</p>
          <p>{{ dashboardData?.activePlantsCount }} Piece</p>
          <p class="mt-auto">Number of DeActive Plants</p>
          <p>{{ dashboardData?.deActivePlantsCount }} Piece</p>
          <div class="absolute right-0 h-full flex flex-col justify-center">
            <img class="" src="assets/icons/plant-online.png" />
          </div>
        </div>
      </div>
      <div class="w-full sm:w-[50%] md:w-[25%] h-36 md:h-full p-1">
        <div
          class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col relative p-2 shadow-md"
        >
          <p>Real-time Power</p>
          <p>0 W</p>
          <p class="mt-auto">Installed Power</p>
          <p>{{ dashboardData.currentPlant.InstalledPower / 1000 }} kW</p>
          <div class="absolute right-0 h-full flex flex-col justify-center">
            <img class="" src="../../../../assets/icons/real-time-power.png" />
          </div>
        </div>
      </div>
      <div class="w-full sm:w-[50%] md:w-[25%] h-36 md:h-full p-1">
        <div
          class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col relative p-2 shadow-md"
        >
          <p>Avg Temperature</p>
          <p>{{ dashboardData.temperatureSummary.AvgTemperature }} degree</p>
          <p class="mt-auto">Max Temperature</p>
          <p>{{ dashboardData.temperatureSummary.MaxTemperature }} degree</p>
          <div class="absolute right-0 h-full flex flex-col justify-center">
            <img class="mr-2" src="../../../../assets/icons/high-temp.png" />
          </div>
        </div>
      </div>
      <div class="w-full sm:w-[50%] md:w-[25%] h-36 md:h-full p-1">
        <div
          class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col relative p-2 shadow-md"
        >
          <p>Avg Power</p>
          <p>{{ dashboardData.powerSummary.avgCurrentPower / 1000 }} kW</p>
          <p class="mt-auto">Max Power</p>
          <p>{{ dashboardData.powerSummary.maxCurrentPower / 1000 }} kW</p>
          <div class="absolute right-0 h-full flex flex-col justify-center">
            <img
              class="mr-2"
              src="../../../../assets/icons/icons8-energy-64 (1).png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-[50%] h-80 md:h-[40%] p-1">
      <div
        class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col p-2 shadow-md"
      >
        <!-- Alarms -->
        <div class="grow mt-2 relative overflow-x-auto">
          <div class="h-full">
            <p-plant-alarms-grid [data]="alarmData"> </p-plant-alarms-grid>
          </div>
          <!-- <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3">Alarm</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  Apple MacBook Pro 17"
                </th>
              </tr>
              <tr class="bg-white border-b">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  Microsoft Surface Pro
                </th>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  Magic Mouse 2
                </th>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>

    <div class="w-full md:w-[50%] h-80 md:h-[40%] p-1">
      <div
        class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col p-2 shadow-md"
      >
        Inverters Temperature
        <p-plant-temperature-chart
          [data]="temperatureChartData"
          (chartInstanceChange)="temperatureChartInstance = $event"
        ></p-plant-temperature-chart>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <div class="w-full h-full p-1">
      <div
        class="w-full h-full bg-white bg-gradient-to-r rounded-lg flex flex-col p-2 shadow-md"
      >
        <section>
          <strong>Inverter Devices Statistics</strong>
          <p-plant-statistics-chart
            [data]="dashboardData"
            [type]="'inverter'"
            (chartInstanceChange)="invStatChartInstance = $event"
          ></p-plant-statistics-chart>
        </section>
        <section class="mt-3">
          <strong>Combiner Devices Statistics</strong>
          <p-plant-statistics-chart
            [data]="dashboardData"
            [type]="'combiner'"
            (chartInstanceChange)="cmbStatChartInstance = $event"
          ></p-plant-statistics-chart>
        </section>
        <section class="mt-4">
          <div class="my-1">
            <strong> Plant Name: </strong>
            <span>{{
              dashboardData.currentPlant.PlantName | replaceUnderline
            }}</span>
          </div>
          <div class="my-1">
            <strong>Phone: </strong>
            <a [href]="'tel:' + dashboardData.currentPlant.Phone">{{
              dashboardData.currentPlant.Phone | replaceUnderline
            }}</a>
          </div>
          <div class="my-1 flex">
            <strong>Status:&nbsp;</strong>
            <ng-container
              *ngIf="dashboardData.currentPlant.IsActive; else deActive"
            >
              <span>Active&nbsp;</span>
              <mat-icon class="text-green-700">check_circle</mat-icon>
            </ng-container>
            <ng-template #deActive>
              <span>DeActive&nbsp;</span>
              <mat-icon class="text-red-700">block</mat-icon>
            </ng-template>
          </div>
          <div class="my-1">
            <strong> Plant Description: </strong>
            <span>{{
              dashboardData.currentPlant.Description | replaceUnderline
            }}</span>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
