<!-- <EAP-loading-bar></EAP-loading-bar> -->
<mat-drawer-container class="w-screen h-screen m-0 p-0">
  <mat-drawer
    mode="side"
    [opened]="true"
    [ngClass]="{ 'w-[90px]': !isExpanded, 'w-[250px]': isExpanded }"
    class="w-[250px] bg-gray-100 hi"
    style="border: none"
  >
    <p-plant-sidenav
      [(isExpanded)]="isExpanded"
      (isExpandedChange)="logger()"
    ></p-plant-sidenav>
  </mat-drawer>
  <mat-drawer-content [style.margin-left.px]="isExpanded ? 250 : 90">
    <p-plant-top-navbar
      [(isExpanded)]="isExpanded"
      (isExpandedChange)="logger()"
    ></p-plant-top-navbar>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
