<div *ngIf="isOpened" class="absolute bottom-0 h-80 w-full bg-white">
    <div class="footer-head">
        <hr class="mb-2">
        <button mat-icon-button color="primary" (click)="isOpened=!isOpened">
            <mat-icon >expand_more</mat-icon>
        </button>
        Alarms Section
        <!-- <hr class=""> -->
    </div>
    <div class="footer-body">
        
    </div>
</div>
<div *ngIf="!isOpened" class="bg-white">
    <hr class="mb-2">
    <button mat-icon-button color="primary" (click)="isOpened=!isOpened">
        <mat-icon >expand_less</mat-icon>
    </button>
    Alarms Section
</div>