<nav class="sticky top-0 bg-white h-14 w-full z-50">
  <ul class="flex h-full justify-end items-center">
    <li class="brodcrump pl-4"><h2 *ngIf="!isLeftExpanded" class="text-bold brand-font">Power Plant</h2>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item
          [routerLink]="[item.url]"
          *ngFor="let item of breadcrump; let i = index"
        >
          <a [ngClass]="{ 'text-2xl': i == breadcrump.length - 1 }">
            {{ item.name }}
          </a>
        </nz-breadcrumb-item>
      </nz-breadcrumb> -->
    </li>
    <li
      class="py-2 pr-2 ml-auto my-2 text-black rounded-full hover:text-yellow-600 cursor-pointer"
    >
      <button mat-icon-button (click)="openAlarams()">
        <mat-icon>notifications</mat-icon>
      </button>
    </li>
    <li
      class="py-2 mx-2 rounded-sm text-black cursor-pointer flex flex-col items-end"
      *ngIf="!pending"
    >
      <span>
        <!-- {{ '-' | userInfo: 'username' }} -->
      </span>
      <span class="text-xs text-gray-400">
        <!-- {{ '-' | tokenDecoder: 'role' | ACCESS }} -->
      </span>
    </li>
    <li
      class="mx-2 text-white rounded-full cursor-pointer"
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
    >
      <img
        *ngIf="hasProfileImg; else noImg"
        class="w-12 h-12 rounded-full border-2 border-gray-300"
        src="{{ getImageUrl() }}"
        alt=""
        (error)="hasProfileImg = false"
      />
      <ng-template #noImg>
        <img
          src="../../../../assets/images/default_profile.png"
          class="w-12 h-12 rounded-full border-2 border-gray-300"
          alt=""
        />
      </ng-template>
    </li>
  </ul>
</nav>

<mat-menu #menu="matMenu">
  <div
    mat-menu-item
    disableRipple
    class="menu-item"
    style="height: 320px; width: 200px"
    (click)="$event.stopPropagation()"
  >
    <div class="flex flex-col justify-center items-center p-2 h-full">
      <img
        *ngIf="hasProfileImg; else noImg2"
        class="w-22 h-22 rounded-full border-2 border-black"
        src="{{ getImageUrl() }}"
        alt=""
        (error)="hasProfileImg = false"
      />
      <ng-template #noImg2>
        <img
          class="w-22 h-22 rounded-full border-2 border-black"
          src="../../../../assets/images/default_profile.png"
          alt=""
        />
      </ng-template>
      <b style="height: 22px" *ngIf="!pending">
        <!-- {{ '-' | userInfo: 'username' | longTextCutter: 15 }} -->
      </b>
      <p *ngIf="!pending">
        <!-- {{ '-' | userInfo: 'email' | longTextCutter: 18 }} -->
      </p>
      <!-- mat-raised-button -->
      <button
        color="primary"
        (click)="onEditProfile(menuTrigger)"
        class="btn flex flex-nowrap items-center justify-around mb-2 mt-0 w-full"
      >
        <mat-icon class="text-white">edit</mat-icon>Edit profile
      </button>
      <button
        class="w-full"
        mat-stroked-button
        color="warn"
        (click)="onLogout()"
      >
        <mat-icon color="warn">logout</mat-icon>
        logout
      </button>
    </div>
  </div>
</mat-menu>
