<div class="h-full flex flex-col md:grid md:grid-cols-12 overflow-auto">
  <div
    class="w-full min-h-[500px] max-h-96 md:max-h-full md:h-full col-span-12 md:col-span-3 lg:col-span-2 flex flex-wrap p-2 pr-1 overflow-auto"
  >
    <div
      class="w-full h-full bg-white bg-gradient-to-r rounded-sm shadow-md flex flex-col overflow-auto"
    >
      <form
        [formGroup]="unitSelectionForm"
        (ngSubmit)="getUnitSelections()"
        class="w-full px-2 pt-2 pb-0"
      >
        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label> Search Unit</mat-label>
          <input matInput formControlName="DeviceTitleEn" />
          <button
            type="submit"
            mat-icon-button
            matSuffix
            click-stop-propagation
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label>Plant</mat-label>
          <mat-select formControlName="PlantID">
            <mat-option value="All"> All </mat-option>
            <mat-option *ngFor="let item of (sharedService.plants|async)" [value]="item.PlantID">
              {{ item.PlantName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline" floatLabel="never">
          <mat-label>Device Type</mat-label>
          <mat-select formControlName="deviceTypeID">
            <mat-option value="All"> All </mat-option>
            <mat-option *ngFor="let item of deviceTypes" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <hr class="mt-1" />
      <p-plant-list-selection
        class="overflow-auto"
        [data]="units"
        (selectedObjectChange)="onSelectUnit($event)"
        [labelProp]="'DeviceTitleEn'"
        [valueProp]="'DeviceId'"
      ></p-plant-list-selection>
    </div>
  </div>
  <div
    class="w-full md:h-full col-span-12 md:col-span-9 lg:col-span-10 flex flex-wrap p-2"
  >
    <div
      class="w-full h-full bg-white bg-gradient-to-r rounded-sm shadow-md flex flex-col p-2 pt-1"
    >
      <section class="w-full p-1">
        <div class="flex-container w-full justify-between">
          <form
            [formGroup]="filterForm"
            class="flex items-center grow flex-wrap"
          >
            <mat-form-field
              class="w-full sm:w-[205px] px-1"
              appearance="outline"
            >
              <mat-label>Date</mat-label>
              <input
                matInput
                [ngxMatDatetimePicker]="picker"
                placeholder="Choose a date"
                formControlName="DateTime"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="$any(picker)"
              ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker> </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field
              class="w-full sm:w-[205px] px-1"
              appearance="outline"
            >
              <mat-label>Curve Type</mat-label>
              <mat-select formControlName="curveColumn">
                <mat-option
                  *ngFor="let item of curveTypes"
                  [value]="item.column"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <section class="w-full md:w-[215px] px-1">
              <mat-checkbox class="" formControlName="isNormalized"
                >Display Normalized Data</mat-checkbox
              >
            </section>
          </form>

          <div
            class="flex items-center min-w-full md:min-w-0 md:grow justify-end"
          >
            <button mat-icon-button><mat-icon>fullscreen</mat-icon></button>
            <button mat-icon-button (click)="getCurveData()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
        <hr />
      </section>

      <section>
        <!-- <ng-container *ngIf="device"></ng-container> -->

        <p-plant-cure-dynamic-chart #curveComponent [data]="curveData"></p-plant-cure-dynamic-chart>
      </section>
    </div>
  </div>
</div>
